<app-header titulo="Galería"></app-header>

<ion-content [fullscreen]="true" class="ion-padding wood-bg">

  <!-- Encabezado -->
  <div class="title-row">
    <h2 class="tavern-title">Galería de Personajes</h2>
    <p class="subtitle">Estética 2.5D • 16-bits • Taberna Cafetería • Tonos cafés cálidos</p>
  </div>

  <!-- Grid de imágenes -->
  <ion-grid fixed class="gallery-grid">
    <ion-row>

      <!-- ITEM 1 -->
      <ion-col size="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <ion-card class="pixel-card" (click)="viewerOpen = true; currentSrc='assets/images/tavern.jpeg'">
          <div class="iso-shadow"></div>
          <ion-img src="assets/images/tavern.jpeg" class="pixel-img"></ion-img>
        </ion-card>
      </ion-col>

      <!-- ITEM 2 -->
      <ion-col size="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <ion-card class="pixel-card" (click)="viewerOpen = true; currentSrc='assets/images/1.jpeg'">
          <div class="iso-shadow"></div>
          <ion-img src="assets/images/1.jpeg" class="pixel-img"></ion-img>
        </ion-card>
      </ion-col>

      <!-- ITEM 3 -->
      <ion-col size="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <ion-card class="pixel-card" (click)="viewerOpen = true; currentSrc='assets/images/2.jpeg'">
          <div class="iso-shadow"></div>
          <ion-img src="assets/images/2.jpeg" class="pixel-img"></ion-img>
        </ion-card>
      </ion-col>

      <!-- ITEM 4 -->
      <ion-col size="12" sizeSm="6" sizeMd="4" sizeLg="3">
        <ion-card class="pixel-card" (click)="viewerOpen = true; currentSrc='assets/images/3.jpeg'">
          <div class="iso-shadow"></div>
          <ion-img src="assets/images/3.jpeg" class="pixel-img"></ion-img>
        </ion-card>
      </ion-col>

      
    </ion-row>
  </ion-grid>

  <!-- Modal visor -->
  <ion-modal [isOpen]="viewerOpen" (didDismiss)="viewerOpen = false" class="tavern-modal">
    <ng-template>
      <ion-header translucent>
        <ion-toolbar color="dark">
          <ion-title>Vista previa</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="viewerOpen = false">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding viewer">
        <div class="viewer-inner">
          <img [src]="currentSrc" class="pixel-img big" />
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
